body{
	font-family: montserrat;
}

.menu{
	background-color: #ffffff;
	height: 8vh;
	width: 100%;
}

.landing-bg{
	background-image: url("img/bg-unidrives.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0px;
	z-index: -1;
	height: 92vh;
}

.mask{
	height: 92vh;
	width: 100%;
	background: rgba(139, 228, 210, 0.75);
}

.content{
	width: 55%;
	margin: auto;
	text-align: center;
	color: #ffffff;
	padding-top: 145px
}

.statement{
	font-size: 4rem;
	font-weight: 900;
}

.supporting{
	font-weight: 100;
	margin-top: 22px;
}

.btn-landing{
	width: 230px;
	height: 70px;
	font-size: 1.6rem;
	margin-top: 15px;
}

.features{
	height: 92vh;
}

.row{
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

.feature{
	text-align: center;
	margin-top: 35px;
	padding: 20px 40px 0px 40px;
}

.title{
	font-size: 3.5rem;
	color: #8BE4D2;
}

.title-desc{
	font-size: 1.1rem;
	color: #8BE4D2;
	margin-right: 300px;
	margin-left: 300px;
}

.heading{
	text-align: center;
	margin: 30px 0px 0px 0px;
}

.description{
	font-size: 1.4rem;
	font-weight: 900;
	margin-top: 35px;
	color: 	#FEDA52;
}

.sub-desc{
	color: #000000;
}

.box-login{
	min-height: 200px;
	width: 35%;
	background: rgba(255, 255, 255, 0.7);
	margin: auto;
	padding: 30px 0px 20px 0px;
	border-radius: 5px;
}

.container-bg-reg{
	background: #8be4d2;
	min-height: 92vh;
	padding-top: 25px;
	padding-bottom: 50px;
}

.container-bg-reg h1{
	text-align: center;
	margin-bottom: 30px;
}

.box-registration{
	min-height: 350px;
	width: 50%;
	background: rgba(255, 255, 255, 0.7);
	margin: auto;
	padding: 20px 0px 35px 0px;
	border-radius: 5px;
}

.box-registration h1,h2,h3{
	text-align: center;
}

.options{
	margin: 5px 0px 0px 0px;
}

.option-rider{
	font-size: 3.5rem;
	font-weight: 900;
	color: #31B7D1;
}

.option-driver{
	font-size: 3.5rem;
	font-weight: 900;
	color: #3BBDA6;
}

.buttonz img {
	transition:all .2s ease-in-out;
}

.buttonz img:hover {
	transform: scale(1.1); 
}

.field{
	width: 75%;
	margin: auto;
}

.button{
	font-size: 1.1rem;
	width: 30%;
	height: 40px;
}