body {
font-family: 'Raleway', sans-serif;
}
.container-fluid {
height:100px;
}
.home {
padding-right:0px;
}

#navbar {
background-color:white;
height:70px;
padding-left: 20px;
text-transform: uppercase;   
font-weight:bold;
z-index:2;
}
#content-top {
text-align:center;
height: 580px;
display: flex;
align-items: center;
text-align: center;
background-image: url("images/top-background.png");
background-size:contain;
background-repeat:no-repeat;
background-position: center;   

}

}
.jumbo-one {
width: 70%;
height: 70%;
background-color: #8be4d2;
}
#content-middle-one {
height: 500px;
border:1px solid black;
text-align: center;
}
#content-middle-two {
text-align:center;
height: 580px;
display: flex;
align-items: center;
text-align: center;
background-image: url("images/middle-background.png");
background-size:contain;
background-repeat:no-repeat;
background-position: center;    
}
#header {
height:200px;
background-color:gainsboro;
}
.banner-1 {
background-image: url("images/content-2.jpg");
background-size:cover;
background-repeat:no-repeat;
background-position: bottom;    
}
.left-content {
background-color:white;
}
.right-content {
background-color: mediumturquoise;
    
}
.social-media {
    height:70%;
}